@media all and (max-width: 1080px) {
    .container {
        width: 800px;
    }
}

@media all and (max-width: 800px) {
    .container {
        width: 700px;
    }
}

@media all and (max-width: 720px) {
    .container {
        width: 600px;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100vw;
    }
}
