@media all and (max-width: 1080px) {
    .container {
        width: 800px;
    }
    
}


@media all and (max-width: 720px) {
    .container {
        width: 600px;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 98vw;
    }
    
    .container-portfolio {
        flex-direction: column;
    }
    
    .portfolio-box {
        width: 100%;
    }
    
    .
}
