* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}


/*KOLORY*/


/*pomarańczowy*/

.orange {
    background-color: #ffc15e;
}


/*granat*/

.darkblue {
    background-color: #3f5866;
}


/*niebieski*/

.blue {
    background-color: #bdd3de;
}


/*MENU*/

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}

nav ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
    height: 30px;
    border-style: dotted;
    border-width: 3px;
    border-radius: 50%;
    border-color: #bdd3de;
    transition: all 0.5s;
}

nav ul li:hover {
    transform: scale(1.2);
    border-color: #ffc15e;
}

nav ul li a {
    text-decoration: none;
    color: #414141;
    transition: all 0.5s;
}


/*HEADER*/

header {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

.header-title img {
    width: 60%;
    margin: 100px 0 0;
}

.header-title p {
    color: #3f5866;
    font-size: 55px;
    margin-top: 0;
    letter-spacing: 3px;
}

.text-about p {
    color: #2e2e2e;
    font-size: 18px;
    width: 60%;
    margin: auto;
}

.text-about span {
    color: #ffc15e;
}

.feather {
    position: absolute;
    bottom: 0;
    right: 0;
}

.feather img {
    transform: translateY(30%);
}


/*PORTFOLIO*/
.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-box {
    width: 30%;
    height: 200px;
    border: 1px solid #515151;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    cursor: pointer;
}

.portfolio-box .portfolio-image, 
.portfolio-box .portfolio-content {
    width: 50%;
} 

.portfolio-box .portfolio-image {
    background-color: pink;
    background-size: cover;
    background-position: center;
}

.portfolio-box .portfolio-content {
    object-fit: cover;
    object-position: top left;
}

.portfolio-image1 {
    background-image: url(../img/cosmetics.jpg);
}

.portfolio-image2 {
    background-image: url(../img/fashion.jpg);
}

.portfolio-image3 {
    background-image: url(../img/glue.jpg);
}
.portfolio-image4 {
    background-image: url(../img/office.jpg);
}

.portfolio-image5 {
    background-image: url(../img/lamp.jpeg);
}
.portfolio-image6 {
    background-image: url(../img/medicine.jpg);
}

a.portfolio-box {
    z-index: 999999999999;
}

.loupe {
    width: 60px;
    height: 60px;
    z-index: 9999999999;
    background-color: #fff;
    border-radius: 100%;
    border-style: dotted;
    border-width: 3px;
    border-color: #bdd3de;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe i {
    font-size: 30px;
    color: #ffc15e;
}

.portfolio-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #bdd3de;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-box:hover .portfolio-mask {
    opacity: 0.7;   
}

.portfolio-box:hover .loupe {
    opacity: 1;
}

/*PORTFOLIO GALLERY*/
.gallery-overflow {
    overflow: hidden;
}

.portfolio-clicked {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.portfolio-clicked .portfolio-box {
    width: 100vw;
    height: 100vh;
}

.hide-me {
    display: none;
}
   

/*--------------------*/

.portfolio-more {
    width: 100%;
    display: flex;
    justify-content: center;
}



.portfolio-more button {
    padding: 15px 20px;
    color: #5a5a5a;
    font-size: 20px;
    border: 2px dotted #bdd3de;
    background-color: transparent;
    text-transform: lowercase;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

#portfolio .portfolio-more button:hover {
    transform: scale(1.2);
    color: #ffc15e;
}

/*CONTACT*/

#contact {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

#contact form,
#contact .contact-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contact form {
    width: 30%;
    margin-right: 20px;
    justify-content: center;
}

#contact form input,
#contact form textarea {
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid #515151;
}

#contact form input:placeholder,
#contact form textarea:placeholder {
    color: #515151;
}

#contact form .form-button {
    background-color: #ffc15e;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 40%;
    margin: auto;
    cursor: pointer;
    transition: all 0.5s;
}

#contact form .form-button:hover {
    background-color: #f1a62f;
}

#contact .contact-text {
    width: 40%;
    margin-left: 20px;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#contact .contact-text p {
    margin: 10px;
}

#contact .contact-text .text-color {
    margin-top: 30px;
    color: #ffc15e;
    font-size: 27px;
}

#contact .contact-text .arrow img {
    height: 70%;
}
/*FOOTER*/

footer {
    background-color: #bdd3de;
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 20px;
}



/*------------TEKSTY-------------*/
nav {
    position: relative;
    
}
.container .text {
    padding: 30px;
    border: 3px dotted #bdd3de;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .text img {
    width: 100%;
    margin: auto;
}

.arrows {
    position: absolute;
    top: 50%;
}

.body-text nav ul {
    width: 48%;
    justify-content: flex-end;
}

.body-text nav ul li {
    margin-left: 30px;
}

.body-text .container {
    margin-bottom: 70px;
}