/* FONTS */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1,
h2,
h4,
.logo {
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-family: 'Tahoma', sans-serif;
}

h3 {   
    font-family: 'Leckerli One', cursive;
}

h1,
.logo {
    font-weight: 900;
}

h2,
h4 {
    font-weight: bold;
}


/* COMMON */
.container {
    width: 1140px;
    margin: auto;
}

nav,
nav ul,
.header-main {
    display: flex;
}

span {
    color: #0081ff;
}

/* HEADER */

#main {
    background-image: url(../img/header-background.png);
    background-size: cover;
    background-position: center; 
    height: 90vh;
    color: #fff;
}

#main::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#main .container {
    position: relative;
}

nav {
    height: 130px;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    
}

nav ul {
    flex-basis: 55%;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-text {
    width: 50%;
}

.header-men {
    position: absolute;
    right: -20px;
    top: 190px;
    height: 75vh;
    
}

