body {
    font-family: 'Roboto', sans-serif;
}

.cursive,
button,
#presence input[type="submit"],
.testimonials-photo-container h6 {
    font-family: 'Damion', cursive;
}

.button-big {
    width: 240px;
    height: 60px; 
}

.container1 {
    height: 80vh;
}

.container2 {
    height: 90vh;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

h3,
p {
    color: #828282;
}

hr {
    background-color: #02c6d8;
    width: 60px;
    margin: 25px auto 30px;
    height: 3px;
}

/* HEADER */
header {
    background-color: #00b6cb;
    color: #fff;
}

nav {
    height: 150px;
    text-transform: uppercase;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    font-size: 12px;
}

header h2 {
    font-size: 2em;
    margin-top: 20%;
}

header h1 {
    font-size: 4em;
    margin: 10px 0 25px;
}

header p {
    font-size: 1.1em;
    margin-bottom: 40px;
}

header button {
    background-color: #9068be;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px 15px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

header button:hover {
    background-color: #996FCA;
}

header {
    position: relative;
}

.header-img-women  {
    position: absolute;
    height: 85%;
    width: auto;
    right: 0;
    bottom: 0;
}

/* ----- ABOUT ----- */
#about .container {
    padding: 50px 0;
}
#about .container > p {
    text-align: center;
}

#about .row {
    margin: 35px 0;
}

.about-photo-bg {
    background-color: #a1c8dd;
    height: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}

.about-photo-bg img {
    height: 100%;
    margin: auto;
}

#about .about-text {
    text-align: left;
    padding: 0 30px;
    background-color: #f6f6f6;
    height: 320px;
    margin-top: 40px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
}

#about .about-text .text-more {
    color: #e46e48;
    margin: 0;
}

#about .col-lg-7 {
    padding-left: 0;
}

/* ----- Presence ----- */
#presence {
    padding: 30px 0;
    background-color: #9068be;
}

#presence h4 {
    font-size: 25px;
    color: #fff;
}

#presence p {
    font-size: 15px;
    color: #fff;
    margin: 0;
}

#presence .presence-buttons {
    display: flex;
    justify-content: space-between
}

#presence input {
    height: 65px;
}

#presence input[type="text"], 
#presence input[type="email"] {
    flex-basis: 35%;
    padding-left: 14px;
}

#presence input[type="submit"] {
    flex-basis: 27%;
    background-color: #e46e48;
    color: #fff;
    border: none;
    font-size: 25px;
}

#presence input[type="email"]::placeholder ,
#presence input[type="text"]::placeholder {
    color: #ababab;
}


/* ----- What we do best ----- */
.do-best {
    background-color: #f6f6f6;
    padding: 60px 0 100px;
}

.do-best .container > p {
    text-align: center;
    margin-bottom: 140px;
}

.do-best .row {
    margin-top: 30px;
    text-align: center;
}

.do-best .icon {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.do-best .icon1 {
    background-color: #9068be;
}

.do-best .icon2 {
    background-color: #02c6d8;
}

.best-shape {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    padding: 80px 30px 50px;
    position: relative;
    font-weight: 700;
    font-size: 13px;
}

.best-shape1 h5 {
    color: #9068be;
}

.best-shape2 h5 {
    color: #02c6d8;
    margin: 20px 0;
}

.best-shape h5 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 25px;
}

.best-shape button {
    border: none;
    color: #fff;
    width: 145px;
    height: 44px;
    font-size: 22px;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}

.best-shape .button1 {
    background-color: #e46e48;
}

.best-shape .button2 {
    background-color: #326c73;
}


/* ----- TESTIMONIALS ----- */
.testimonials {
    padding: 60px 0 100px;
}

.testimonials .container > p {
    text-align: center;
    margin-bottom: 70px;
}

.testimonials .quote {
    position: absolute;
    top: -38px;
    left: 30px;
    opacity: 0.35;
}

.testimonials .quote img {
    height: 80px;
}

.testimonials-shape {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    padding: 50px 30px 50px;
    position: relative;
    font-weight: 700;
    font-size: 12px;
}

.testimonials-photo-container {
    position: absolute;
    top: 100%;
    transform: translate(-50%, -30%);
    left: 50%;
    text-align: center;
}

.testimonials-photo-container .testimonials-photo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: pink;
    margin: auto;
}

.testimonials-photo-container h6 {
    margin-top: 15px;
    margin-bottom: 0;
    color: #9068be;
    font-weight: 700;
    
}

.testimonials-photo-container .link {
    color: #02c6d8;
    margin-top: 0;
}

/* ----- WORK WITH US ----- */
.work-with-us {
    margin-top: 60px;
}

.work-with-us::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/work-with-us.png);
}

.work-with-us .container-fluid {
    height: 60vh;
}

.work-with-us .work-with-us-text {
    color: #fff;
    font-size: 23px;
    line-height: 1.9;
}

.work-with-us .work-with-us-bg {
    background-color: rgba(50,108,115, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}

.work-with-us .work-with-us-bg button {
    background-color: #e46e48;
    border: none;
    color: #fff;
    font-size: 30px;
    margin-top: 20px
}

.work-with-us .row .col-10 {
    margin: auto;
    text-align: center;
}


