@media all and (max-width: 900px) {
    header {
        overflow: hidden;
    }
    nav {
        margin-left: 100vw;
    }
    nav button {
        display: inline-block;
    }
    nav ul {
        position: absolute;
        right: 30px;
        top: 16%;
        flex-direction: column;
    }
}