@font-face {
    font-family: "Seasrn";
    src: url("../fonts/SEASRN__.ttf");
}

@font-face {
    font-family: "Bazar";
    src: url("../fonts/Bazar.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Regular.ttf");
}


