@media all and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media all and (max-width: 992px) {
    .container {
        width: 760px;
    }
}

@media all and (max-width: 768px) {
    .container {
        width: 95%;
    }
}
